@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0 0 0 1.25em;
}

ul, li, ol, table, tr, th, td {
  white-space: normal;
}

li {
  margin-top: 16px;
}

li:first-child {
  margin-top: 0;
}

li > ul > li:first-child {
  margin-top: 8px;
}

ul li {
  list-style: none;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  top: 12px;
  transform: translateY(-3px);
  left: -1.1em;
  width: 6px;
  height: 6px;
  background-color: #0d0d0d;
  border-radius: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
}

table tr:nth-child(2n) {
  background-color: #f8f9fa;
}

table th {
  background-color: #edf2f8;
  font-weight: bold;
}

table th:first-child {
  border-radius: 4px 0 0 0;
}

table th:last-child {
  border-radius: 0 4px 0 0;
}

table tr:last-of-type td:first-child {
  border-radius: 0 0 0 4px;
}

table tr:last-of-type td:last-child {
  border-radius: 0 0 4px 0;
}